body {
    background-color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h4,
p,
a {
    color: white;
}

h3 {
    color: red;
}

p {
    text-align: justify;
    hyphens: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.p_logo {
    margin: 0 .5rem;
    font-size: 1rem;
}

@media(min-width:768px) {

    .p_logo {
        margin: 0 15rem;
        font-size: 1.3rem;
    }
}

.navbar-expand-lg {
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

nav {
    display: flex;

}



.grid {
    display: flex;
    gap: 1rem;


}



.grid {
    overflow: scroll;
}

@media(min-width:768px) {
    .grid {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        gap: 1rem;
    }
}

.he .carousel-inner .carousel-item img {
    height: 600px;
    /* o la altura que desees */
    width: auto;
    max-width: 100%;
}

img {
    width: 100%;
    object-fit: cover;
    background-color: transparent;
    position: relative;
    z-index: -1;
}

.carousel-item h1 {
    position: absolute;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
}

@media (min-width:768px) {
    .carousel-item h1 {
        position: absolute;
        color: white;
        font-size: 3rem;
        font-weight: bold;
        margin: 0;
    }
}

.center {
    display: grid;
    place-items: center;
}

@media (min-width:768px) {
    .contenedor {
        max-width: 1320px;
        width: 100%;
        margin: 0 auto;
    }
}



.img {
    z-index: 1000;
    width: 100%;
}



@media(min-width:768px) {
    .img {
        width: 100%;
        z-index: 1000;
    }
}

/*carrusel*/


.contenedor-carrusel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.interior-carrusel {
    display: flex;
    transition: transform 0.5s ease;
}

.elemento-carrusel {
    min-width: 100%;
    transition: opacity 0.5s ease;
    position: relative;
}

.boton-carrusel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 2;
}

.anterior {
    left: 10px;
}

.siguiente {
    right: 10px;
}

/* Ocultar botones innecesarios */
.oculto {
    display: none;
}

.logo {
    width: 200px;
}

/* .container {
    background-color: #2c343431;
} */

.element-to-reveal {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: -1;
}

.reveal {
    opacity: 1;
    transform: translateY(0);
}

.best {
    letter-spacing: .9rem;
    font-size: 2rem;
    margin: 7rem 0;
    font-weight: bold;
}

.bestAll {
    letter-spacing: .9rem;
    font-size: 2rem;
    margin: 7rem 0;
    font-weight: bold;
    text-align: center;
}

@media(min-width:768px) {

    .best {
        letter-spacing: 3rem;
        font-size: 9rem;
        margin: 7rem 0;
        font-weight: 400;
    }

    .bestAll {
        letter-spacing: .9rem;
        font-size: 7rem;
        margin: 7rem 0;
        font-weight: 400;
    }
}

/*titulo ediciones*/
.h1-titulo {
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
    margin: 0;
}

.espacio {
    height: 70px;
}

.carta {
    width: 200px;
    z-index: -1;
    margin: .1rem;
    padding: 0rem;
    border-radius: 16px;
}

@media(min-width:768px) {
    .carta {
        z-index: -1;
        margin: 1.5rem;
        padding: 0rem;
        border-radius: 16px;
    }
}

.precio {
    color: rgb(51, 82, 12);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.hiden {
    text-align: center;
    color: rgb(92, 92, 92);
}

.a {
    text-decoration: none;
    cursor: pointer;
}

.a:hover h1 {
    color: rgb(197, 158, 49);
}

.custom-navbar {
    background-color: #1c1c1c;
}

.nav-link {
    color: white;
    font-size: 1.1rem;
}

.navbar-brand {
    font-size: 1.3rem;
    font-weight: BOLD;
}


.cardss {
    display: flex;
    z-index: 10;
    height: 70px;
    width: 450px;
}


.cardss svg {
    position: absolute;
    display: flex;
    width: 60%;
    height: 80px;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    padding: 0.25rem;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.cardss .social-link1,
.cardss .social-link2,
.cardss .social-link3,
.cardss .social-link4,
.cardss .social-link5 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
    z-index: 12;
}

.cardss svg {
    transform: scale(1);
}

.cardss .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    animation: bounce_613 0.4s linear;
}

.cardss .social-link2:hover {
    background-color: #295179;
    animation: bounce_613 0.4s linear;
}

.cardss .social-link3:hover {
    background-color: #5865f2;
    animation: bounce_613 0.4s linear;
}

.cardss .social-link4:hover {
    background-color: #0a66c2;
    animation: bounce_613 0.4s linear;
}

.cardss .social-link5:hover {
    background-color: #ff8000;
    animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
    40% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(0.8);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.vermas:hover {
    text-decoration: underline;
    color: #0a66c2;
}

.espacio_img {
    height: 350px;
    margin: 0;
    padding: 0;
}

.end {
    display: flex;
    justify-content: flex-end;
}

.navbar {
    z-index: 10000;
}

.carousel {
    z-index: 1;
}

.grid2 {
    display: grid;
    place-items: center;
}


@media(min-width:768px) {
    .grid2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/*boton a*/
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin: 1rem 0;
}

#container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}

strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 20px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
}

#glow {
    position: absolute;
    display: flex;
    width: 12rem;
}

.circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}

.circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

.btn:hover {
    transform: scale(1.1)
}

.btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

.btn:active .circle {
    background: #FE53BB;
}

#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}

#stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}

#stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}

#stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}

#stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}

@keyframes animStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-135rem);
    }
}

@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes gradient_301 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.footer {
    font-size: 1.1rem;
}